/*fonts*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*set base font size for rem*/
html{
  font-size: 16px;
  letter-spacing: 0.015rem;
}

/*set base font*/
body{
  font-family: "source sans pro",helvetica,sans-serif;
  /*color:black;*/
  background-color: #f2f5f5;
  color: #4a4a4a;
}

/*class to make flex containers*/
.flex {
  display: flex;
  align-items: center;
}

/*stop alignment to unknown stuff*/
h1,
h3{
  display: block;
}

/*header*/
header{
  background-color: white;
  justify-content: space-between;
  height: 4rem;
}
header div{
  padding-left: 1.5rem;
}
header img{
  height:2.7rem;
}
header b{
  padding-left: 0.2rem;
  font-weight: normal;
}
header span{
  font-size: 2rem;
  font-weight: lighter;
}
header ul{
  /*little bit of padding to match spec*/
  padding-right: 0.5rem;
}
header li{
  padding-right: 1rem;
}

/*banner*/
.banner{
  background-color: #d8d8d8;
}
.textHold{
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
h1{
  font-size: 2.7rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem 0;
}
h3{
  font-size: 1.75rem;
  text-align: left;
  padding: 1rem 0;
}
.banner .imgContainer{
  width: 60%;
  margin: 2rem 1.5rem;
}
.banner img{
  width: 100%;
  height: auto;
}
.banner .button{
  font-weight: lighter;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  background-color: #4a4a4a;
  width: 100%;
}


/*footer*/
footer span:last-child{
  float:right;
}
