/*fonts*/
@font-face{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*set base font size for rem*/
html{
  font-size: 16px;
  letter-spacing: 0.015rem;
}

/*set base font*/
body{
  font-family: "source sans pro",helvetica,sans-serif;
  line-height: 1.3;
  background-color: #f2f5f5;
  color: #4a4a4a;
  /*stop natural breaks master*/
  width: 1200px;
  margin:0 auto;
}

/*class to make flex containers*/
.flex{
  display: flex;
  align-items: center;
}

/*header*/
header{
  background-color: white;
  justify-content: space-between;
  height: 4rem;
}
header div{
  padding-left: 1.5rem;
}
header img{
  height:2.7rem;
}
header b{
  padding-left: 0.2rem;
  font-weight: normal;
}
header span{
  font-size: 2rem;
  font-weight: lighter;
}
header ul{
  /*little bit of padding to match spec*/
  padding-right: 0.5rem;
}
header li{
  font-weight: lighter;
  font-size: 1.2rem;
  padding-right: 1rem;
}

/*banner*/
.banner{
  background-color: #d8d8d8;
}
.banner .imgContainer{
  /*width: 60%;*/
  flex-basis: 60%;
  padding: 3rem 2.5rem;
}
.textHold{
  /*width: 40%; NO. USE FLEX BASIS*/
  flex-basis: 40%;
  flex-wrap: wrap;
  /*min-width: 20rem;*/
}
h1{
  font-size: 2.7rem;
  font-weight: bold;
  text-align: left;
  padding: 1rem 0;
}
h3{
  font-size: 1.75rem;
  text-align: left;
  padding: 1rem 0;
}
.banner img{
  width: 100%;
  /*min-width: 25rem;*/
}
.banner .button{
  font-weight: lighter;
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  background-color: #4a4a4a;
  width: 80%;
  max-width: 22rem;
  margin-top: 1rem;
}

/*first area after banner*/
.firstArea{
  align-items: flex-start;
}
.firstArea .left{
  /*do not use width for a flex container item, use the appropriate flex-basis*/
  flex-basis: 60%;
  padding: 3rem 2.5rem;
}
.firstArea img{
  width: 100%;
  /*min-width: 25rem;*/
}
h2{
  font-size: 2.3rem;
  font-weight: bold;
  padding: 2rem 0 1.5rem;
  text-align: left;
}
h4{
  font-weight: lighter;
}
h5{
  margin-top: 1.5rem;
}
.firstArea .right{
  /*width: 40%;*/
  flex-basis: 40%;
  flex-wrap: wrap;
  padding-top: 2rem;
  border-left: 1px solid #d8d8d8;
  align-self: stretch;
  align-content: flex-start;
}
.firstArea .item{
  padding: 1rem;
  display: flex;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  margin: 0.1rem 0;
  white-space: nowrap;
}
.right .imgContainer{
  flex-basis: 35%;
}
.right img{
  width: 100%;
  min-width: 8rem;
}
.sidetxt{
  flex-basis: 65%;
  padding-left: 1.5rem;
}
.right h3{
  padding: 0;
}
.right p{
  padding: 0.5rem 0;
  font-weight: lighter;
}

/*start learning section*/
.startLearn{
  padding: 2rem 0;
  flex-direction: column;
  background-color: #eaebec;
}
.startLearn h2:first-child{
  padding-bottom: 1rem;
}
.startLearn h2,h3{
  padding: 0;
}
.itemHold{
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  padding: 0 3.5rem;
}
.startLearn .item{
  flex-basis: 30%;
  min-width: 30%;
  margin: 1rem;
  background-color: white;
  min-height: 22rem;
}
.startLearn .item img{
  width: 100%;
  margin-bottom: 1rem;
}
.item h3,
.item p{
  padding: 0 1rem;
}
.item h3{
  font-size: 1.5rem;
}
.item p{
  padding-top: 1.2rem;
  color: #969696;
  font-weight: lighter;
  line-height: 1.5;
}

/*thesis section*/
.thesisTitle{
  text-align: center;
  padding: 2rem 0;
}
.thesis .left{
  flex-basis: 60%;
  padding: 0 1.5rem;
}
.vidContain{
  padding-bottom: 1.5rem;
}
video{
  width: 100%;
}
.left h4{
  padding: 0.5rem 0 2rem;
}
.thesis .right{
  align-self: flex-start;
  flex-basis: 40%;
  flex-direction: column;
  align-items: flex-start;
}
.right img{
  width: 100%;
  height: auto;
}
.right .flex .flex{
  flex-basis: 35%;
  min-width: 9rem;
  padding: 1rem;
}
.right .flex div:nth-child(2){
  flex-basis: 65%;
}
.colorMe{
  background-color: #d8d8d8;
}


/*footer*/
footer{
  padding: 1rem 1.5rem 3rem;
  font-weight: lighter;
}
footer span:last-child{
  float:right;
}
